{{ range .Site.Data.mix_tapes }}
  {{ $params := dict
    "cover" (dict
        "image" (fmt.Printf "/images/mix-tapes/%d/liner.jpg" .id)
        "caption" .title
      )
    "tags" .tags
    "categories" "mix tapes"
    "data" .
  }}
  {{ $page := dict
    "title" .title
    "path" (urls.URLize .title)
    "dates" (dict "date" (time.AsTime .date))
    "params" $params
  }}
  {{ $.AddPage $page }}
{{ end }}